*{
    margin: 0px;
    padding: 0px;
}

.MainTaskPageDiv {
    height: 100vh;
    width: 100%;
}

.Container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    border-bottom: 5px solid black;
}

.Header li {
    list-style-type: none;
}

.MidContent {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    border-top: 5px solid black;
}

.Footer li {
    list-style-type: none;
}